header nav a {
  color: white;
  background-color: #5ED3EB;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 16%;
  text-align: center;
  text-decoration: none;
  font-family="Chelsea Market";
  padding: 6px;
}

header nav {
  margin: 0 auto;
  width: 50vw;
}

header nav a:last-child {
  background: #FFCD69;
  margin-right: 10px;
  margin-left: 50px;
  padding: 6px;
}

header nav a:first-child {
  background: #FF764E;
  margin-left: 10px;
  margin-right: 50px;
  padding: 6px;

}

.image-ortalama {
  width: 25%;
  display: inline-block;
  font-family: "Roboto Mono";
  font-size: 12px;
}

.image-ortalama:last-child {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
  margin: 15px;

}

img {
  width: 12vw;
  height: 12vw;
  border-radius: 90px;
  margin-top: 3vw;
}

.container {
  width: 700px;
  margin: auto auto;
}

.bg-bej {
  background-color: #DDB9A3;
  width: 1100px;
  text-align: center;
  color: white;
  font-family: "Roboto Mono";
  font-size: 12px;
}

.balon img {
  width: 10%;
  margin-left: 310px;
  margin-right: 310px;

}

.balon p {
  width: 35%;
  font-size: 12px;
  color: black;
  margin: auto auto;
  text-align: center;
  font-family: "Roboto Mono";
}

.bisiklet img {
  width: 10%;
  margin-left: 310px;
  margin-right: 310px;
}

.bisiklet p {
  width: 35%;
  font-size: 12px;
  color: black;
  margin: auto auto;
  margin-top:0.05%;
  margin-bottom: 0.05%;
  text-align: center;
  font-family: "Roboto Mono";
}

.son {
  border-radius:5em;
  width: 10%;
}

footer nav a {
  color: white;
  background-color: #5ED3EB;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 16%;
  text-align: center;
  text-decoration: none;
  font-family="Chelsea Market";
  padding: 6px;
  margin-bottom: 1%;
}

footer nav a:last-child {
  background: #FFCD69;
  margin-right: 10px;
  margin-left: 50px;
  padding: 6px;
}

footer nav a:first-child {
  background: #FF764E;
  margin-left: 10x;
  margin-right: 50px;
  padding: 6px;

}